// Color Scheme

$primary-dark: #000;
$primary-white: #fff;
$subtle-white: #f5f6f8;
$light-gray: #c4c4c4;
$subtle-blue: #c9e7f2;
$deep-blue: #3734a9;

// Font

$font-primary: "Manrope", sans-serif;

$font-small: 2rem;
$hero-title: 6rem;
