* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Manrope", sans-serif;
  background-color: #fafbff;
  overflow-x: hidden; }

.company-name, footer div .section-title {
  font-size: 2rem;
  font-weight: 800; }

.btn-cta, footer .newsletter-cta div .btn-newsletter-cta, .hero .hero-box .hero-text-box .hero-btns .btn-cta, .hero .hero-box .hero-text-box .hero-btns footer .newsletter-cta div .btn-newsletter-cta, footer .newsletter-cta div .hero .hero-box .hero-text-box .hero-btns .btn-newsletter-cta {
  background-color: #3734a9;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.6rem 3.8rem;
  border-radius: 40px; }

.hero-title {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
  line-height: 1.2;
  width: 120%; }

.hero-subtitle {
  font-size: 2rem;
  font-weight: normal;
  color: #64607d; }

.heading-primary {
  font-size: 7rem;
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 3.6rem; }

.heading-secondary {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -2px; }

.heading-secondary-sm {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -1px;
  margin-bottom: 2.8rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.15; }

.heading-label, .recent-blogs .blog .text-box .label {
  font-size: 1.4rem;
  color: #3734a9;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.4rem; }

.subtitle-md {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 50%;
  margin-bottom: 5rem; }

.text-normal16, footer .newsletter-cta .newsletter-info-sm {
  font-size: 1.6rem;
  line-height: 1.5; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.padding-block-lg {
  padding-block: 14.6rem; }

.padding-block-md {
  padding-block: 7.2rem; }

.testimonial-box, .testimonials .content-box .testimonial-box-lg {
  position: relative;
  height: auto;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 0.3);
  padding-block: 3.8rem 3.2rem;
  padding-inline: 3.4rem; }
  .testimonial-box .quotation-logo, .testimonials .content-box .testimonial-box-lg .quotation-logo {
    top: 0;
    position: absolute;
    left: 3.4rem;
    transform: translateY(-50%); }
  .testimonial-box p, .testimonials .content-box .testimonial-box-lg p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem; }
  .testimonial-box span, .testimonials .content-box .testimonial-box-lg span {
    font-size: 1.4rem; }

.cta .cta-box {
  background-image: url(/assets/design-elements/cta-background.png);
  height: 43.8rem;
  display: flex;
  align-items: center; }
  .cta .cta-box div {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .cta .cta-box div h2 {
      color: #fff;
      margin-bottom: 4rem; }
    .cta .cta-box div .btn-cta, .cta .cta-box footer .newsletter-cta div .btn-newsletter-cta, footer .newsletter-cta .cta .cta-box div .btn-newsletter-cta, .cta .cta-box div .hero .hero-box .hero-text-box .hero-btns .btn-cta, .hero .hero-box .hero-text-box .hero-btns .cta .cta-box div .btn-cta, .cta .cta-box .hero .hero-box .hero-text-box .hero-btns footer .newsletter-cta div .btn-newsletter-cta, .hero .hero-box .hero-text-box .hero-btns footer .newsletter-cta .cta .cta-box div .btn-newsletter-cta, .cta .cta-box footer .newsletter-cta div .hero .hero-box .hero-text-box .hero-btns .btn-newsletter-cta, footer .newsletter-cta .cta .cta-box div .hero .hero-box .hero-text-box .hero-btns .btn-newsletter-cta {
      padding: 1.8rem 4.2rem;
      background-color: #ff7f5c;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 10px; }

footer {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr 2fr;
  row-gap: 5.8rem;
  flex-wrap: wrap; }
  @media (max-width: 64em) {
    footer {
      grid-template-columns: 1.25fr 1fr 1fr; }
      footer div:nth-child(4) {
        grid-row: 2; } }
  @media (max-width: 48em) {
    footer {
      grid-template-columns: 1fr; }
      footer div:nth-child(2) {
        grid-row: 2; }
      footer div:nth-child(3) {
        grid-row: 3; }
      footer div:nth-child(4) {
        grid-row: 4; } }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8rem; }
    footer div .section-title {
      margin-bottom: 2.4rem;
      text-transform: capitalize; }
    footer div .text-normal16, footer div .newsletter-cta .newsletter-info-sm, footer .newsletter-cta div .newsletter-info-sm {
      text-transform: capitalize; }
  footer .about-company {
    margin-right: 7.6rem; }
    footer .about-company .company-subtitle {
      color: #757095;
      font-size: 1.6rem; }
    footer .about-company .socials {
      display: flex;
      gap: 1.6rem; }
  footer .newsletter-cta div {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 5.2rem; }
    footer .newsletter-cta div input {
      padding: 1.5rem;
      background-color: #eeeeff;
      border: none;
      height: 100%; }
    footer .newsletter-cta div .btn-newsletter-cta {
      border-radius: 0;
      height: 100%; }
  footer .newsletter-cta .newsletter-info-sm {
    color: #181433; }
  footer .copyright {
    border-top: 2px solid #e5e5ea;
    text-align: center;
    padding-block: 4rem 5.8rem;
    grid-column: span 4;
    font-size: 1.6rem; }

.btn-reformat, button, .hero button, .recent-blogs button, .faqs .container .faq-interface .faq-list .faq button, .faqs .container button {
  border: none;
  background: none;
  cursor: pointer; }

.grid {
  display: grid; }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

@media (max-width: 72em) {
  .hero-title {
    font-size: 5.6rem; } }

@media (max-width: 64em) {
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem; } }

@media (max-width: 56em) {
  .hero-title {
    font-size: 5rem; }
  .heading-primary {
    font-size: 5rem; }
  .heading-secondary-sm {
    font-size: 4rem; } }

@media (max-width: 48rem) {
  .grid--3-cols {
    grid-template-columns: 1fr;
    row-gap: 3.2rem; }
  .grid--2-cols {
    grid-template-columns: 1fr; }
  .hero-title {
    text-align: center;
    width: 80%;
    margin-inline: auto; }
  .heading-primary {
    font-size: 5rem; }
  .heading-secondary {
    font-size: 4.6rem; }
  .heading-secondary-sm {
    font-size: 3.2rem; }
  .subtitle-md {
    width: 100%; }
  .padding-block-lg {
    padding-block: 7.2rem; }
  .padding-block-md {
    padding-block: 3.2rem; } }

@media (max-width: 29.625em) {
  .hero-title {
    font-size: 4rem; }
  .hero-subtitle {
    font-size: 1.8rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Manrope", sans-serif;
  background-color: #fafbff;
  overflow-x: hidden; }

.company-name, footer div .section-title {
  font-size: 2rem;
  font-weight: 800; }

.btn-cta, footer .newsletter-cta div .btn-newsletter-cta, .hero .hero-box .hero-text-box .hero-btns .btn-cta, .hero .hero-box .hero-text-box .hero-btns footer .newsletter-cta div .btn-newsletter-cta, footer .newsletter-cta div .hero .hero-box .hero-text-box .hero-btns .btn-newsletter-cta {
  background-color: #3734a9;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.6rem 3.8rem;
  border-radius: 40px; }

.hero-title {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
  line-height: 1.2;
  width: 120%; }

.hero-subtitle {
  font-size: 2rem;
  font-weight: normal;
  color: #64607d; }

.heading-primary {
  font-size: 7rem;
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 3.6rem; }

.heading-secondary {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -2px; }

.heading-secondary-sm {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -1px;
  margin-bottom: 2.8rem; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.15; }

.heading-label, .recent-blogs .blog .text-box .label {
  font-size: 1.4rem;
  color: #3734a9;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.4rem; }

.subtitle-md {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 50%;
  margin-bottom: 5rem; }

.text-normal16, footer .newsletter-cta .newsletter-info-sm {
  font-size: 1.6rem;
  line-height: 1.5; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.padding-block-lg {
  padding-block: 14.6rem; }

.padding-block-md {
  padding-block: 7.2rem; }

.testimonial-box, .testimonials .content-box .testimonial-box-lg {
  position: relative;
  height: auto;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 0.3);
  padding-block: 3.8rem 3.2rem;
  padding-inline: 3.4rem; }
  .testimonial-box .quotation-logo, .testimonials .content-box .testimonial-box-lg .quotation-logo {
    top: 0;
    position: absolute;
    left: 3.4rem;
    transform: translateY(-50%); }
  .testimonial-box p, .testimonials .content-box .testimonial-box-lg p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem; }
  .testimonial-box span, .testimonials .content-box .testimonial-box-lg span {
    font-size: 1.4rem; }

.cta .cta-box {
  background-image: url(/assets/design-elements/cta-background.png);
  height: 43.8rem;
  display: flex;
  align-items: center; }
  .cta .cta-box div {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .cta .cta-box div h2 {
      color: #fff;
      margin-bottom: 4rem; }
    .cta .cta-box div .btn-cta, .cta .cta-box footer .newsletter-cta div .btn-newsletter-cta, footer .newsletter-cta .cta .cta-box div .btn-newsletter-cta, .cta .cta-box div .hero .hero-box .hero-text-box .hero-btns .btn-cta, .hero .hero-box .hero-text-box .hero-btns .cta .cta-box div .btn-cta, .cta .cta-box .hero .hero-box .hero-text-box .hero-btns footer .newsletter-cta div .btn-newsletter-cta, .hero .hero-box .hero-text-box .hero-btns footer .newsletter-cta .cta .cta-box div .btn-newsletter-cta, .cta .cta-box footer .newsletter-cta div .hero .hero-box .hero-text-box .hero-btns .btn-newsletter-cta, footer .newsletter-cta .cta .cta-box div .hero .hero-box .hero-text-box .hero-btns .btn-newsletter-cta {
      padding: 1.8rem 4.2rem;
      background-color: #ff7f5c;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 10px; }

footer {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr 2fr;
  row-gap: 5.8rem;
  flex-wrap: wrap; }
  @media (max-width: 64em) {
    footer {
      grid-template-columns: 1.25fr 1fr 1fr; }
      footer div:nth-child(4) {
        grid-row: 2; } }
  @media (max-width: 48em) {
    footer {
      grid-template-columns: 1fr; }
      footer div:nth-child(2) {
        grid-row: 2; }
      footer div:nth-child(3) {
        grid-row: 3; }
      footer div:nth-child(4) {
        grid-row: 4; } }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8rem; }
    footer div .section-title {
      margin-bottom: 2.4rem;
      text-transform: capitalize; }
    footer div .text-normal16, footer div .newsletter-cta .newsletter-info-sm, footer .newsletter-cta div .newsletter-info-sm {
      text-transform: capitalize; }
  footer .about-company {
    margin-right: 7.6rem; }
    footer .about-company .company-subtitle {
      color: #757095;
      font-size: 1.6rem; }
    footer .about-company .socials {
      display: flex;
      gap: 1.6rem; }
  footer .newsletter-cta div {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 5.2rem; }
    footer .newsletter-cta div input {
      padding: 1.5rem;
      background-color: #eeeeff;
      border: none;
      height: 100%; }
    footer .newsletter-cta div .btn-newsletter-cta {
      border-radius: 0;
      height: 100%; }
  footer .newsletter-cta .newsletter-info-sm {
    color: #181433; }
  footer .copyright {
    border-top: 2px solid #e5e5ea;
    text-align: center;
    padding-block: 4rem 5.8rem;
    grid-column: span 4;
    font-size: 1.6rem; }

.btn-reformat, button, .hero button, .recent-blogs button, .faqs .container .faq-interface .faq-list .faq button, .faqs .container button {
  border: none;
  background: none;
  cursor: pointer; }

.grid {
  display: grid; }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

@media (max-width: 72em) {
  .hero-title {
    font-size: 5.6rem; } }

@media (max-width: 64em) {
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem; } }

@media (max-width: 56em) {
  .hero-title {
    font-size: 5rem; }
  .heading-primary {
    font-size: 5rem; }
  .heading-secondary-sm {
    font-size: 4rem; } }

@media (max-width: 48rem) {
  .grid--3-cols {
    grid-template-columns: 1fr;
    row-gap: 3.2rem; }
  .grid--2-cols {
    grid-template-columns: 1fr; }
  .hero-title {
    text-align: center;
    width: 80%;
    margin-inline: auto; }
  .heading-primary {
    font-size: 5rem; }
  .heading-secondary {
    font-size: 4.6rem; }
  .heading-secondary-sm {
    font-size: 3.2rem; }
  .subtitle-md {
    width: 100%; }
  .padding-block-lg {
    padding-block: 7.2rem; }
  .padding-block-md {
    padding-block: 3.2rem; } }

@media (max-width: 29.625em) {
  .hero-title {
    font-size: 4rem; }
  .hero-subtitle {
    font-size: 1.8rem; } }

.hero {
  background: linear-gradient(to right, #c9e7f2, #62bada);
  position: relative;
  overflow-y: hidden; }
  .hero .design-dots {
    position: absolute;
    bottom: 5rem;
    z-index: 1; }
  .hero .design-crosses {
    position: absolute;
    right: 0;
    top: 15rem;
    z-index: 1; }
  .hero .design-paint-mark {
    position: absolute;
    right: 0;
    bottom: -15rem; }
  .hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.8rem 2.4rem; }
    .hero header nav {
      display: flex;
      gap: 2.6rem; }
      @media (max-width: 48rem) {
        .hero header nav {
          display: none; } }
      .hero header nav .btn-dropdown {
        display: flex;
        align-items: center;
        gap: 1.2rem; }
        .hero header nav .btn-dropdown i {
          font-size: 1.8rem; }
      .hero header nav span {
        font-size: 1.5rem;
        font-weight: 500; }
    .hero header .sign-in-btns {
      display: flex;
      gap: 5rem; }
      .hero header .sign-in-btns .btn-start-free {
        background-color: #3734a9;
        color: #fff;
        padding: 1.6rem 3.6rem; }
  .hero .hero-box {
    display: flex;
    overflow: hidden;
    height: 85vh;
    gap: 4rem; }
    @media (max-width: 48rem) {
      .hero .hero-box {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 8rem; } }
    .hero .hero-box .hero-text-box {
      align-self: center;
      z-index: 9; }
      .hero .hero-box .hero-text-box .hero-btns {
        margin-top: 5.6rem;
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-bottom: 5.4rem; }
        .hero .hero-box .hero-text-box .hero-btns .btn-see-how-it-works {
          display: flex;
          align-items: center;
          color: #3734a9;
          gap: 1rem;
          font-size: 1.7rem; }
          .hero .hero-box .hero-text-box .hero-btns .btn-see-how-it-works i {
            background-color: #22d497;
            border-radius: 50%;
            padding: 1.5rem 1.4rem 1.4rem 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center; }
      .hero .hero-box .hero-text-box .tags {
        display: flex;
        gap: 2.4rem;
        z-index: 2; }
        .hero .hero-box .hero-text-box .tags span {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: #757095;
          font-size: 1.7rem; }
    .hero .hero-box .hero-img-box {
      position: relative;
      z-index: 9; }
      @media (max-width: 72em) {
        .hero .hero-box .hero-img-box {
          width: 45%; } }
      .hero .hero-box .hero-img-box .img-banking-solution {
        display: flex;
        align-items: center;
        z-index: 1;
        margin-top: -15%;
        transform: translateX(20%); }
        .hero .hero-box .hero-img-box .img-banking-solution .round-label {
          animation: rotation 24s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
        .hero .hero-box .hero-img-box .img-banking-solution .round-squash-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3.4rem;
          background-color: #454545;
          border-radius: 50%;
          width: 11.9rem !important;
          height: 11.9rem;
          transform: translateX(-235%); }
      .hero .hero-box .hero-img-box .card-hands-img-box {
        display: flex;
        position: absolute;
        margin-left: 7%;
        top: 0;
        z-index: 2; }
        .hero .hero-box .hero-img-box .card-hands-img-box .img-lefthand-card {
          z-index: 2;
          animation: 1s ease-out 0s 1 slideUpFromBottom; }
        .hero .hero-box .hero-img-box .card-hands-img-box .img-righthand-card {
          margin-top: 30%;
          margin-left: -30%;
          z-index: 1;
          animation: 2s ease-in 0s 1 slideUpFromBottom; }

@keyframes slideUpFromBottom {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6.4rem;
  background-color: #f5f6f8; }
  .companies .companies-section-title {
    font-size: 2.2rem;
    margin-bottom: 4.4rem;
    font-weight: 500;
    text-align: center; }
  .companies .company-logos {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    flex-wrap: wrap; }
    .companies .company-logos img {
      height: 100%; }

.feature-blocks .top-feature {
  margin-bottom: 11.9rem; }
  .feature-blocks .top-feature .feature-head {
    display: flex;
    gap: 3.4rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem; }
    .feature-blocks .top-feature .feature-head .title-box {
      width: 40%; }
      .feature-blocks .top-feature .feature-head .title-box h3 {
        margin-bottom: 2rem; }
      .feature-blocks .top-feature .feature-head .title-box span {
        font-size: 1.6rem; }
    .feature-blocks .top-feature .feature-head .testimonial-box, .feature-blocks .top-feature .feature-head .testimonials .content-box .testimonial-box-lg, .testimonials .content-box .feature-blocks .top-feature .feature-head .testimonial-box-lg {
      width: 35%; }
    @media (max-width: 48em) {
      .feature-blocks .top-feature .feature-head {
        flex-direction: column; }
        .feature-blocks .top-feature .feature-head .title-box {
          width: 100%; }
        .feature-blocks .top-feature .feature-head .testimonial-box, .feature-blocks .top-feature .feature-head .testimonials .content-box .testimonial-box-lg, .testimonials .content-box .feature-blocks .top-feature .feature-head .testimonial-box-lg {
          width: 100%; } }
  .feature-blocks .top-feature .cards-box {
    column-gap: 3.2rem; }
    .feature-blocks .top-feature .cards-box .card {
      background-color: #fff;
      border-radius: 20px;
      outline: 1px solid #dbe4e9;
      padding: 2.2rem;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); }
      .feature-blocks .top-feature .cards-box .card .number {
        font-size: 2.2rem;
        font-weight: 700; }
      .feature-blocks .top-feature .cards-box .card div {
        margin-top: 4.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.2rem;
        height: 80%; }
        .feature-blocks .top-feature .cards-box .card div img {
          margin-bottom: 3.4rem; }
        .feature-blocks .top-feature .cards-box .card div h4,
        .feature-blocks .top-feature .cards-box .card div span {
          text-align: center; }
        .feature-blocks .top-feature .cards-box .card div h4 {
          font-size: 3rem;
          line-height: 1.05;
          margin-bottom: 1.6rem; }
        .feature-blocks .top-feature .cards-box .card div span {
          font-size: 1.4rem;
          color: #64607d;
          line-height: 1.8;
          margin-top: auto; }

.feature-blocks .feature-block {
  display: flex;
  align-items: center;
  margin-bottom: 6rem !important; }
  .feature-blocks .feature-block .text-box .subtitle, .feature-blocks .feature-block .text-box .tags {
    font-size: 1.8rem;
    color: #64607d;
    margin-bottom: 2.4rem; }
  .feature-blocks .feature-block .text-box #second-block.subtitle, .feature-blocks .feature-block .text-box #second-block.tags {
    margin-bottom: 5rem; }
  .feature-blocks .feature-block .text-box .line {
    margin-bottom: 2.4rem; }
  .feature-blocks .feature-block .text-box .tags {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    margin-bottom: 1.4rem; }
  .feature-blocks .feature-block .text-box .testimonial-box, .feature-blocks .feature-block .text-box .testimonials .content-box .testimonial-box-lg, .testimonials .content-box .feature-blocks .feature-block .text-box .testimonial-box-lg {
    width: 80%; }
  @media (max-width: 48em) {
    .feature-blocks .feature-block {
      flex-direction: column;
      gap: 4rem; } }

.feature-blocks .track-payments {
  margin-bottom: 4rem;
  flex-basis: 0 0 auto; }
  .feature-blocks .track-payments .img-box {
    position: relative; }
    .feature-blocks .track-payments .img-box .design-sm-circles {
      position: absolute;
      top: -3rem;
      right: 8rem;
      z-index: 9; }
    .feature-blocks .track-payments .img-box .feature-image {
      width: 100%; }
  .feature-blocks .track-payments .text-box {
    width: 60%; }
  @media (max-width: 48em) {
    .feature-blocks .track-payments .text-box {
      width: 100%;
      order: -1; } }

.feature-blocks .save-money .feature-image {
  max-width: 55%; }
  @media (max-width: 48rem) {
    .feature-blocks .save-money .feature-image {
      max-width: 80%;
      align-self: flex-start; } }

.highlighted-features {
  background-color: #c9e7f2;
  position: relative; }
  .highlighted-features .design-dashes {
    position: absolute;
    bottom: 11rem;
    left: 0;
    z-index: 1; }
  .highlighted-features .content-box {
    z-index: 9; }
    .highlighted-features .content-box .cards-box {
      gap: 3.2rem; }
      .highlighted-features .content-box .cards-box .card {
        outline: 1px solid #abc8d2;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 5.4rem 3.2rem 4rem 3.2rem; }
        .highlighted-features .content-box .cards-box .card img {
          margin-bottom: 3.2rem;
          width: 5.5rem; }
        .highlighted-features .content-box .cards-box .card span {
          font-weight: 800;
          font-size: 2.2rem; }
        .highlighted-features .content-box .cards-box .card p {
          margin-top: 1.6rem;
          font-size: 1.5rem; }
      .highlighted-features .content-box .cards-box .card:nth-child(1),
      .highlighted-features .content-box .cards-box .card:nth-child(2) {
        grid-row: span 2; }
        @media (max-width: 64em) {
          .highlighted-features .content-box .cards-box .card:nth-child(1),
          .highlighted-features .content-box .cards-box .card:nth-child(2) {
            grid-row: 1; } }
      .highlighted-features .content-box .cards-box .card:nth-child(3),
      .highlighted-features .content-box .cards-box .card:nth-child(4) {
        grid-column: 3;
        padding-block: 3rem; }
        @media (max-width: 64em) {
          .highlighted-features .content-box .cards-box .card:nth-child(3),
          .highlighted-features .content-box .cards-box .card:nth-child(4) {
            grid-row: 2;
            padding-block: 3rem; } }
      @media (max-width: 64em) {
        .highlighted-features .content-box .cards-box .card:nth-child(4) {
          grid-column: 2; }
        .highlighted-features .content-box .cards-box .card:nth-child(3) {
          grid-column: 1; } }
      @media (max-width: 48rem) {
        .highlighted-features .content-box .cards-box .card:nth-child(2) {
          grid-row: 2; }
        .highlighted-features .content-box .cards-box .card:nth-child(3) {
          grid-row: 3; }
        .highlighted-features .content-box .cards-box .card:nth-child(4) {
          grid-row: 4;
          grid-column: 1; } }

.testimonials .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.2rem; }
  @media (max-width: 48em) {
    .testimonials .head {
      flex-direction: column;
      gap: 3.2rem; }
      .testimonials .head img {
        width: 30%;
        align-self: flex-end; } }

.testimonials .content-box {
  display: flex;
  gap: 4.2rem;
  padding: 4rem 5.2rem 3.2rem 12rem;
  overflow-x: scroll; }
  @media (max-width: 48em) {
    .testimonials .content-box {
      padding-left: 4rem; } }
  .testimonials .content-box .testimonial-box-lg {
    background-color: #fff;
    outline: 1px solid #cfcfcf;
    border-radius: 5px;
    display: flex;
    gap: 2.6rem;
    width: 70rem;
    flex: 0 0 auto; }
    .testimonials .content-box .testimonial-box-lg .text-box {
      width: 60%; }
      .testimonials .content-box .testimonial-box-lg .text-box p {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 1.8rem; }
      .testimonials .content-box .testimonial-box-lg .text-box span {
        font-size: 2rem; }
    .testimonials .content-box .testimonial-box-lg .author-img {
      width: 40%; }

.stats {
  background-color: #3734a9; }
  .stats div {
    display: flex; }
    .stats div .left-tag-sm {
      margin: auto 0;
      width: 24%;
      border-right: 2px solid #3d3d3d;
      padding-block: 8.2rem;
      padding-inline: 3.4rem; }
      .stats div .left-tag-sm p {
        font-size: 2rem;
        color: #fff; }
    .stats div .stat-content {
      padding-block: 7.8rem;
      padding-inline: 6.5rem;
      color: #fff;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 5rem; }
      .stats div .stat-content .stat {
        display: flex;
        flex-direction: column; }
        .stats div .stat-content .stat .number {
          font-weight: 800;
          font-size: 7.2rem; }
        .stats div .stat-content .stat .label {
          display: flex;
          align-items: center;
          gap: 2.4rem;
          font-size: 3rem; }
          .stats div .stat-content .stat .label img {
            width: 2rem; }
      @media (max-width: 64em) {
        .stats div .stat-content .stat .number {
          font-size: 5.2rem; }
        .stats div .stat-content .stat .label {
          font-size: 2.4rem; } }
    @media (max-width: 48em) {
      .stats div {
        flex-direction: column;
        align-items: center;
        padding-top: 4rem; }
        .stats div .left-tag-sm {
          width: 100%;
          padding-block: 4rem;
          border-right: none;
          border-bottom: 3px solid #3d3d3d; }
        .stats div .stat-content {
          padding-block: 0 7rem; } }

.recent-blogs h2 {
  margin-bottom: 7.2rem; }

.recent-blogs .top-blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem; }
  .recent-blogs .top-blog .text-box {
    padding-block: 3.4rem 5.2rem;
    padding-inline: 2.8rem;
    display: flex;
    flex-direction: column; }
    .recent-blogs .top-blog .text-box button {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
      gap: 1.6rem;
      margin-top: 6.8rem; }
  @media (max-width: 56em) {
    .recent-blogs .top-blog img {
      width: 50%;
      height: 50%; } }
  @media (max-width: 48em) {
    .recent-blogs .top-blog {
      flex-direction: column; }
      .recent-blogs .top-blog img {
        width: 100%;
        height: auto; } }

.recent-blogs .blog {
  cursor: pointer; }
  .recent-blogs .blog .text-box {
    padding-block: 3.4rem 5.2rem;
    padding-inline: 2.8rem;
    display: flex;
    flex-direction: column; }
    .recent-blogs .blog .text-box .label {
      color: #000; }
    .recent-blogs .blog .text-box .title {
      font-size: 2.8rem;
      font-weight: 600; }

.recent-blogs .blogs-grid {
  gap: 2.8rem; }
  .recent-blogs .blogs-grid .blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .recent-blogs .blogs-grid .blog img {
      width: 100%; }

.faqs {
  position: relative; }
  .faqs .design-star-drawing {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  .faqs .design-whirlpool {
    position: absolute;
    left: 0;
    top: 5rem;
    z-index: 1; }
  .faqs .container h2 {
    width: 50%;
    z-index: 9; }
  .faqs .container .faq-interface {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.2rem; }
    @media (max-width: 64em) {
      .faqs .container .faq-interface {
        grid-template-columns: 1fr; } }
    .faqs .container .faq-interface .faq-list {
      display: flex;
      flex-direction: column;
      gap: 1.6rem; }
      .faqs .container .faq-interface .faq-list .faq {
        display: flex;
        justify-content: space-between;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        padding: 2.4rem;
        background-color: #fff;
        align-items: start;
        cursor: pointer; }
        .faqs .container .faq-interface .faq-list .faq .text-box {
          display: flex;
          flex-direction: column;
          width: 90%; }
          .faqs .container .faq-interface .faq-list .faq .text-box span {
            font-size: 2.2rem;
            font-weight: 800; }
          .faqs .container .faq-interface .faq-list .faq .text-box .answer {
            font-size: 1.6rem;
            margin-top: 2.4rem;
            display: none; }
        .faqs .container .faq-interface .faq-list .faq button {
          color: #3d3d3d;
          font-size: 4rem; }
      .faqs .container .faq-interface .faq-list .faq:first-of-type .answer {
        display: block; }
    .faqs .container .faq-interface .faq-cta-box {
      padding-block: 6.7rem 3.2rem;
      padding-inline: 3.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      height: 51.2rem; }
      @media (max-width: 64em) {
        .faqs .container .faq-interface .faq-cta-box {
          height: auto; } }
      .faqs .container .faq-interface .faq-cta-box img {
        margin-bottom: 4.2rem; }
      .faqs .container .faq-interface .faq-cta-box h4 {
        font-size: 2.2rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 2.2rem; }
      .faqs .container .faq-interface .faq-cta-box .text-normal16, .faqs .container .faq-interface .faq-cta-box footer .newsletter-cta .newsletter-info-sm, footer .newsletter-cta .faqs .container .faq-interface .faq-cta-box .newsletter-info-sm {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 3.2rem; }
      .faqs .container .faq-interface .faq-cta-box button {
        margin-top: auto;
        padding-block: 2.2rem;
        padding-inline: 8rem;
        font-size: 1.6rem;
        color: #fff;
        background-color: #ff7f5c; }
