@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  background-color: $bg-subtle-white;
  overflow-x: hidden;
}

.company-name {
  font-size: 2rem;
  font-weight: 800;
}

.btn-cta {
  background-color: $deep-blue;
  color: $primary-white;
  font-size: $fs-md;
  padding: 1.6rem 3.8rem;
  border-radius: 40px;
}

.heading-primary {
  font-size: 7rem;
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 3.6rem;
}
.heading-secondary {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -2px;
}
.heading-secondary-sm {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -1px;
  margin-bottom: 2.8rem;
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.15;
}

.heading-label {
  font-size: $fs-vsm;
  color: $deep-blue;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.subtitle-md {
  font-size: $fs-md;
  line-height: 1.6;
  width: 50%;
  margin-bottom: 5rem;
}

.text-normal16 {
  font-size: $fs-md;
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.testimonial-box {
  position: relative;
  height: auto;
  border-radius: 20px;
  background-color: $bg-light-gray;
  padding-block: 3.8rem 3.2rem;
  padding-inline: 3.4rem;

  .quotation-logo {
    top: 0;
    position: absolute;
    left: 3.4rem;
    transform: translateY(-50%);
  }

  p {
    font-size: $fs-sm;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  span {
    font-size: $fs-vsm;
  }
}

.cta {
  padding-block: 15rem;
  .cta-box {
    background-image: url(/assets/design-elements/cta-background.png);
    height: 43.8rem;
    display: flex;
    align-items: center;

    div {
      width: 60%;
      margin: 0 auto;
      text-align: center;

      h2 {
        color: $primary-white;
        margin-bottom: 4rem;
      }
      .btn-cta {
        padding: 1.8rem 4.2rem;
        background-color: #ff7f5c;
        color: $primary-white;
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 10px;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr 2fr;
  row-gap: 5.8rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.8rem;
    .section-title {
      @extend .company-name;
      margin-bottom: 2.4rem;
      text-transform: capitalize;
    }
    .text-normal16 {
      text-transform: capitalize;
    }
  }

  .about-company {
    margin-right: 7.6rem;
    .company-subtitle {
      color: #757095;
      font-size: $fs-md;
    }
    .socials {
      display: flex;
      gap: 1.6rem;
    }
  }
  .newsletter-cta {
    div {
      display: flex;
      flex-direction: row;
      gap: 0;
      height: 5.2rem;
      input {
        padding: 1.5rem;
        background-color: #eeeeff;
        border: none;
        height: 100%;
      }

      .btn-newsletter-cta {
        @extend .btn-cta;
        border-radius: 0;
        height: 100%;
      }
    }

    .newsletter-info-sm {
      @extend .text-normal16;
      color: #181433;
    }
  }

  .copyright {
    border-top: 2px solid #e5e5ea;
    text-align: center;
    padding-block: 4rem 5.8rem;
    grid-column: span 4;
    font-size: $fs-md;
  }
}

.btn-reformat {
  border: none;
  background: none;
  cursor: pointer;
}

button {
  @extend .btn-reformat;
}

.grid {
  display: grid;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
