// Color Scheme

$primary-dark: #000;
$primary-white: #fff;
$subtle-white: #f5f6f8;
$bg-subtle-white: #fafbff;
$bg-light-gray: rgba(196, 196, 196, 0.3);
$text-light-gray: #64607d;
$subtle-blue: #c9e7f2;
$deep-blue: #3734a9;

// Font

$font-primary: "Manrope", sans-serif;

// Font-sizes: fs for font-size
$fs-hero-subtitle: 2rem;
$fs-hero-title: 6rem;
$fs-hero-title-md: 5.6rem;
$fs-hero-title-sm: 5rem;
$fs-heading-primary: 5.6rem;
$fs-small-subtitle: 1.8rem;
$fs-md: 1.6rem;
$fs-sm: 1.5rem;
$fs-vsm: 1.4rem;

// $padding-block-section-lg: 14.6rem;
$padding-block-section-md: 7.2rem;
