@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
}

.heading-primary {
  font-size: $fs-heading-primary;
  font-weight: bold;
}

.heading-label {
  font-size: $fs-vsm;
  color: $deep-blue;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn-reformat {
  border: none;
  background: none;
  cursor: pointer;
}
