* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Manrope", sans-serif; }

.heading-primary {
  font-size: 5.6rem;
  font-weight: bold; }

.heading-label {
  font-size: 1.4rem;
  color: #3734a9; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.btn-reformat, .hero button {
  border: none;
  background: none;
  cursor: pointer; }

.hero {
  background: linear-gradient(#c9e7f2, #62bada); }
  .hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.8rem 2.4rem; }
    .hero header .company-name {
      font-size: 2rem;
      font-weight: 600; }
    .hero header nav {
      display: flex;
      gap: 2.6rem; }
      .hero header nav .btn-dropdown {
        display: flex;
        align-items: center;
        gap: 1.2rem; }
        .hero header nav .btn-dropdown i {
          font-size: 1.8rem; }
      .hero header nav span {
        font-size: 1.5rem;
        font-weight: 500; }
    .hero header .sign-in-btns {
      display: flex;
      gap: 5rem; }
      .hero header .sign-in-btns .btn-start-free {
        background-color: #4f46ba;
        color: #fff;
        padding: 1.6rem 3.6rem; }
  .hero .hero-box {
    display: flex;
    overflow: hidden;
    height: 100vh; }
    .hero .hero-box .hero-text-box {
      flex: 1;
      align-self: center; }
      .hero .hero-box .hero-text-box .hero-title {
        font-size: 6rem;
        font-weight: bold;
        margin-bottom: 2.4rem;
        line-height: 1.2; }
      .hero .hero-box .hero-text-box .hero-subtitle {
        font-size: 2rem;
        font-weight: normal;
        color: #64607d; }
      .hero .hero-box .hero-text-box .hero-btns {
        margin-top: 5.6rem;
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-bottom: 5.4rem; }
        .hero .hero-box .hero-text-box .hero-btns .btn-cta {
          background-color: #3734a9;
          color: #fff;
          font-size: 1.6rem;
          padding: 1.6rem 3.8rem;
          border-radius: 40px; }
        .hero .hero-box .hero-text-box .hero-btns .btn-see-how-it-works {
          display: flex;
          align-items: center;
          color: #3734a9;
          gap: 1rem;
          font-size: 1.7rem; }
          .hero .hero-box .hero-text-box .hero-btns .btn-see-how-it-works i {
            background-color: #22d497;
            border-radius: 50%;
            padding: 1.5rem 1.4rem 1.4rem 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center; }
      .hero .hero-box .hero-text-box .tags {
        display: flex;
        gap: 2.4rem; }
        .hero .hero-box .hero-text-box .tags span {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: #757095;
          font-size: 1.7rem; }
    .hero .hero-box .hero-img-box {
      flex: 1;
      position: relative; }
      .hero .hero-box .hero-img-box .img-banking-solution {
        display: flex;
        align-items: center;
        z-index: 1;
        margin-top: -15%;
        transform: translateX(20%); }
        .hero .hero-box .hero-img-box .img-banking-solution .round-label {
          animation: rotation 24s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
        .hero .hero-box .hero-img-box .img-banking-solution .round-squash-container {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #454545;
          border-radius: 50%;
          width: 11.9rem;
          height: 11.9rem;
          transform: translateX(-235%); }
      .hero .hero-box .hero-img-box .card-hands-img-box {
        display: flex;
        position: absolute;
        margin-left: 7%;
        top: 0;
        z-index: 2; }
        .hero .hero-box .hero-img-box .card-hands-img-box .img-lefthand-card {
          z-index: 2;
          animation: 2s ease-out 0s 1 slideUpFromBottom; }
        .hero .hero-box .hero-img-box .card-hands-img-box .img-righthand-card {
          margin-top: 30%;
          margin-left: -30%;
          z-index: 1;
          animation: 2s ease-in 0s 1 slideUpFromBottom; }

@keyframes slideUpFromBottom {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }
